/* ----------------- */
/* Custom Properties */
/* ----------------- */
:root{
    /* colors */
    --clr-green-200: 148 38% 91%;
    --clr-green-600: 169 82% 27%;
    --clr-red: 0 66% 54%;
    --clr-white: 0 0% 100%;
    --clr-light: 186 15% 59%;
    --clr-dark: 187 24% 22%;

    /* font size */
    --fs-900: 5rem;
    --fs-800: 4rem;
    --fs-700: 3rem;
    --fs-600: 2rem;
    --fs-500: 1.5rem;
    --fs-400: 1rem;
    --fs-300: 0.875rem;
    --fs-200: 0.5rem;

    /* font family */
    --ff-main: "Karla", sans-serif;
}

/* ----------------- */
/* Reset             */
/* ----------------- */

/* box sizing */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* margin */
body,
h1,
h2,
h3,
h4,
h5,
p{
    margin: 0;
    font-weight: 400;
}

/* make img easier to work with */
img{
    display: block;
    width: 100%;
}

/* make form elements easier to work with */
textarea,
input,
select{
    font: inherit;
}

/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after{
        animation-duration: 0.01ms!important;
        animation-iteration-count: 1!important;
        transition-duration: 0.01ms!important;
        scroll-behavior: auto!important;
    }
}

/* set up body */
body{
    min-height: 100vh;
    line-height: 1.5;
    color: hsl(var(--clr-dark));
    background-color: hsl(var(--clr-green-200));
    overflow-x: hidden;
    display: grid;
    font-family: var(--ff-main);
}

/* ----------------- */
/* Utility Classes   */
/* ----------------- */
.flex{
    display: flex;
    gap: var(--gap, 1em);
}

.grid{
    display: grid;
    gap: var(--gap, 1em);
}

.block{
    display: block;
}

.flow{
    margin-block: 2em;
}

.container{
    margin-block: 1em;
    padding-inline: 2em;
}

.sr-only{
    position: absolute;
    width: 0;
    height: 0;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    clip: rect(0,0,0,0);
}

/* colors */
.bg-green-600{background-color: hsl(var(--clr-green-600));}
.bg-green-200{background-color: hsl(var(--clr-green-00));}
.bg-red{background-color: hsl(var(--clr-red));}
.bg-white{background-color: hsl(var(--clr-white));}
.bg-light{background-color: hsl(var(--clr-light));}
.bg-dark{background-color: hsl(var(--clr-dark));}

.text-green-600{color: hsl(var(--clr-green-600));}
.text-green-200{color: hsl(var(--clr-green-00));}
.text-red{color: hsl(var(--clr-red));}
.text-white{color: hsl(var(--clr-white));}
.text-light{color: hsl(var(--clr-light));}
.text-dark{color: hsl(var(--clr-dark));}

/* typography */
.ff-main{font-family: var(--ff-main);}

.fs-900{font-size: var(--fs-900);}
.fs-800{font-size: var(--fs-800);}
.fs-700{font-size: var(--fs-700);}
.fs-600{font-size: var(--fs-600);}
.fs-500{font-size: var(--fs-500);}
.fs-400{font-size: var(--fs-400);}
.fs-300{font-size: var(--fs-300);}
.fs-200{font-size: var(--fs-200);}

.letter-spacing-1{letter-spacing: 4.75px;}
.letter-spacing-2{letter-spacing: 3.75px;}
.letter-spacing-3{letter-spacing: 2.75px;}

.uppercase{text-transform: uppercase;}

.capitalized{text-transform: capitalize;}

.fs-900,
.fs-800,
.fs-700,
.fs-600{
    line-height: 1.1;
}

.text-center{text-align: center;}

.bold{font-weight: 700;}

/* Contact Form */
body{
    position: relative;
}

.form{
    background-color: hsl(var(--clr-white));
    padding: 2em;
    border-radius: 20px;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
}

.form > h1{
    margin-bottom: 1em;
}

.input-boxes{
    display: flex;
    flex-direction: column;
}

.input-boxes label:first-child{
    display: inline-block;
    position: relative;
    font-weight: 700;
    margin-bottom: .3em;
}

.input-boxes label:first-child::after,
.input-boxes:nth-child(5) legend::after{
    content: ' *';
    position: static;
    color: hsl(var(--clr-red));
}

.input-boxes input,
.input-boxes textarea{
    border-radius: 5px;
    outline: none;
    text-indent: 1em;
    border: 1px solid hsl(var(--clr-dark));
    background-color: transparent;
    padding-block: .5em;
}

.input-boxes input[type='radio'],
.input-boxes input[type='checkbox']{
    text-indent: 0;
}

.input-boxes input:hover,
.input-boxes input:focus{
    border: 1px solid hsl(var(--clr-green-600));
}


.input-boxes:nth-child(5) fieldset{
    padding: 1em;
    border: none;
    font-weight: 600;
 }

.shake{
    animation: shake 200ms linear;
}

@keyframes shake {
    0%,40%,100%{transform: translateX(0);}
    20%,80%{transform: translateX(5%);}
    60%{transform: translateX(-5%);}
}

.submit-btn{
    background-color: hsl(var(--clr-green-600));
    font-weight: 600;
    color: hsl(var(--clr-white));
    border: none;
    padding: 1em 1.5em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 2em;
}

.submit-btn:hover,
.submit-btn:focus{
    background-color: hsl(var(--clr-dark));
}


.success{
    background-color: hsl(var(--clr-dark));
    color: hsl(var(--clr-white));
    font-weight: 600;
    font-size: var(--fs-300);
    padding: 1em;
    width: 80%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    display: none;
}

.success-header{
    display: flex;
    gap: 1em;
}

.success-header img{
    width: 1.5em;
}

.error-message{
    color: hsl(var(--clr-red));
    font-style: italic;
    font-size: var(--fs-300);
    opacity: 0;
}

@media (min-width: 35em) {
    .form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2em;
    }

    .form h1{
        margin-bottom: 0;
    }

    .form h1,
    .form .input-boxes:nth-child(4),
    .form .input-boxes:nth-last-child(3),
    .form button[type='submit']{
        grid-column: 1 / -1;
    }

    .submit-btn{
        margin-top: 0;
        max-height: 4em;
    }

}